<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'password_reset_form.css' %}">
</head>
<body>
<div class="main-container">
    <div class="rectangular-banner">
        <button class="back-button">
            <a href="{% url 'googleMaps:googleMaps' %}">Back</a>
        </button>
        <div class="icon"></div>
        <div class="atl-grub-logo"></div>
        <span class="atl-grub">ATLGrub</span>
    </div>
    <div class="panel">
        <span class="forgot-password-title">Forgot Password</span>
        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="form-group">
                <input class="email-input" type="email" name="email" required placeholder="Enter your email" class="email-input">
            </div><br>
            <a href="{% url 'password_reset_done' %}" class="submit-button">Reset Password</a>
        </form>
    </div>
</div>
</body>
</html>
