<style>
    .errorlist {
            color: red; /* This will make the error messages red */
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
</style>

{% if validlink %}
    <h3>Change Password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
{% else %}
    <p>
        The password reset link was invalid. Please request a new password request if necessary.
    </p>
{% endif %}