<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mingzat:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
  </head>
  <body>
    <div class="main-container">
        <div>
            <form method="POST" class="form-container">
                <span class="sign-up-title">Sign Up</span>
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.as_p }}
                <button type="submit" class="register-button">Register</button>
            </form>
        </div>
    </div>
    <div class="rectangular-banner">
        <div class="back-button-div">
            <a href="{% url 'googleMaps:googleMaps' %}">
                <button class="back-button">
                  <span class="button">Back</span>
                </button>
            </a>
        </div>
        <div class="icon"></div>
        <div class="atl-grub-logo"></div>
        <span class="atl-grub">ATLGRUB</span>
    </div>
  </body>
</html>
