<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mingzat:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
    <link rel="stylesheet" href="startPage.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="signup-panel">
        <span class="sign-up-title">Sign Up</span>
        
        <div class="name-input">
          <input class="input" type="text" placeholder="Full Name" />
        </div>
        
        <div class="first-name-input">
          <input class="input-1" type="email" placeholder="Email Address" />
        </div>
        
        <div class="last-name-input">
          <input class="input-2" type="email" placeholder="Confirm Email Address" />
        </div>
        
        <div class="full-name-input">
          <input class="input-3" type="tel" placeholder="Phone Number" />
        </div>
        
        <div class="name-input-4">
          <input class="input-5" type="password" placeholder="Password" />
        </div>
        
        <button class="register-button">Register</button>
      </div>

      <div class="rectangular-banner">
        <span class="atl-grub">ATLGrub</span>
        <button class="back-button">
          <span class="button">Back</span>
        </button>
        <div class="icon"></div>
      </div>

      <div class="atl-grub-logo"></div>
      <div class="signup-background"></div>
    </div>
  </body>
</html>
